.button {
  display: inline-flex;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.6px;
  user-select: none;

  color: $color-default-white;
  text-transform: uppercase;

  background-color: $color-neon-blue;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}


.button--hero {
  border: 2px solid $color-default-white;
  background-color: $color-transparent;

  &:hover:not([disabled]),
  &:focus:not([disabled]) {
    background-color: $color-default-white;
    color: $colo-egyptian-blue;
  }

  &:active:not([disabled]) {
    background-color: $color-default-white;
    color: $color-sapphire;
  }

  &[disabled] {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
  }
}

.subscription__button {
  color: $color-sapphire-05;
  border: none;
  background-color: $color-transparent;
  cursor: pointer;
  padding: 18px 5px;
  padding-bottom: 10px;

  &:hover:not([disabled]),
  &:active:not([disabled]),
  &:focus:not([disabled]) {
    outline: none;
    color: $color-sapphire;
    border-bottom: 3px solid $color-crimson;
  }

  &[disabled],
  &.is-disabled {
    opacity: 0.3;
    pointer-events: none;
    cursor: default;
  }

  @include vp-1365 {
    padding: 18px 13px;
    padding-bottom: 9px;
  }

  @include vp-767 {
    padding: 18px 0;
    padding-bottom: 13px;
  }
}

.button-active {
  color: $color-sapphire;
  border-bottom: 3px solid $color-crimson;
}
